body {
    background: #fff;
    background: url('../../images/shared/bg.png');
    height: 100%;
}

.wrapper-iframe {
    height: 90%;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0
}

.iframe-docs {
    width: 100%;
    height: 100%;
    border: 0
}

.bg-noise {
    background: #fff;
    background: url('../../images/shared/bg.png');
}

.modal {
    overflow-y: auto;
}

.datatables {
    /*&: extend(.table);*/
    /*&: extend(.table-striped);*/
    /*&: extend(.table-hover);*/
    /*&: extend(.table-row-border);*/
    /*&: extend(.table-nowrap);*/
    width: 100%;
}

.btn-logout {
    width: 94%;
    margin: 5px 5px 5px 5px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: red;
}

.modal-body {
    background: url('../../images/shared/bg.png');
}

.modal.modal-wide .modal-dialog {
    width: 90%;
}

.modal-wide .modal-body {
    overflow-y: auto;
}

.lateral-toolbar {
    float: left;
    width: 15%;
    padding: 5px;
}

.main-content {
    float: right;
    width: 85%;
    padding: 20px;
}

.main-content-slide {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.table-container {
    width: 100%;
    padding: 0;
}

.monsterfy-footer {
    bottom: 0;
    padding: 5px;
    left: 0;
    width: 100%;
    clear: both;
}

.cell-actions {
    padding: 3px;
    width: 80px;
    text-align: center;
}

.btn-cell {
    width: 24px;
    height: 24px;
    padding: 0;
}

.btn-cell-wide {
    height: 24px;
    padding-top: 0;
    padding-bottom: 0;
}

.datatables.monsterfytable th {
    border-radius: 5px;
    margin-left: 2px;
    background-color: #777;
    color: #fff;
}

.nav-item.active.nav-indicator:after, .nav-item.active.nav-indicator:before {
    bottom: 0;
    /*left: 50%;*/
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.nav-item.active.nav-indicator:after {
    border-bottom-color: #f2f2f2;
    border-width: 6px;
    margin-left: -6px;
    z-index: 1;
}

.nav-item.active:before {
    border-width: 9px;
    margin-left: -9px;
    z-index: 1;
}

table.dataTable thead .sorting {
    background-image: url("/assets/images/datatables/sort_both.png") !important;
}
table.dataTable thead .sorting_asc {
    background-image: url("/assets/images/datatables/sort_asc.png") !important;
}
table.dataTable thead .sorting_desc {
    background-image: url("/assets/images/datatables/sort_desc.png") !important;
}
table.dataTable thead .sorting_asc_disabled {
    background-image: url("/assets/images/datatables/sort_asc_disabled.png") !important;
}
table.dataTable thead .sorting_desc_disabled {
    background-image: url("/assets/images/datatables/sort_desc_disabled.png") !important;
}

.loader {
    color: #000000;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin: 72px auto;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease;
    animation: load6 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}
