{# list.volt #}
{% extends 'cart/index.volt' %}

{% block shoppingCarts %}
{%- for shoppingCart in cartList %}
<div class="card m-2 trigger-cart-get-info" data-id="{{ shoppingCart['id'] }}" style="width: 18rem;">
    {{ image_input(
        'class': 'card-img-top p-xl-4',
        'src': config.publicpath.images~'cart/shopping-cart-small.png',
        'alt': 'Shopping Cart'
    ) }}
    <div class="card-body text-center">
        <h6 class="card-title">Shopping cart created on {{ shoppingCart['createdAt'] }}</h6>
        <p class="card-text">
            <button type="button" class="btn btn-info btn-block">More info</button>
        </p>
    </div>
</div>
{% endfor -%}
{% endblock %}
